{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Yuk Bisa</title>
{% endblock meta %}

{% block content %}
<div class="home">
    {% include 'navbar.html' %}
    <div class="text" style="text-align: center;">
        {% if user.is_authenticated %}
        <h2>Hi {{user.username}} Selamat Datang di Website Ini</h2>
        {% else %}
        <h2>Login untuk dapatkan fitur terbaik</h2>
        {% endif %}
    </div>
</div>
{% endblock content %}