@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display:  flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #fbf7f5;
   
}

.container{
    padding-top: 15px;
  }
  
    .jumbotron{
      background: url('sand.jpg') center no-repeat;
      background-size: cover;
    }
  
    .d-flex{
      display: flex!important;
    }
