{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/styleBook.css'%}">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <!-- <script src="{% static '/js/bbb.js' %}"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <title>Book</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #fbf7f5;
    }
    button{
        border-radius: 5px;
        background-color: none;
        color: black ;
        border: 1.5px solid black;
    }
    button:hover{
        background-color:#f9e1e0 !important ;
    }
    .buat-table #ini{
        margin-right: auto;
        margin-left: auto;
    }
    td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #data {
        text-align: left;
    }
</style>
<body>
    <div class="abc">
        <p class="h1" style="margin-top: 5vw;"> Find Your Favorite Book!</p>
        <input id="search" type="text" class="mt-3" placeholder="Search Book here!"  style="width: 13vw; font-family: 'Quicksand';">
        <!-- <button style="font-family: 'Quicksand', sans-serif; background-color: floralwhite;" class="ml-2" id="button">Submit</button> -->
        <button id="button">Submit</button>
    </div>

    <div class="buat-table" style="padding-top: 30px;">
        <table id="ini" border="1" style="width: 70%; justify-content: center;">
            <!-- Buat Ajax  -->
        </table>
    </div>
   
    <script>
    $('#button').click(function() {
        event.preventDefault();
        const key = $('#search').val();
        $.ajax({
            method: 'GET',
            url: '/dataBuku?key='+key,
            success: function (result){
                let booksView = $('#ini');
                booksView.empty();
                const resultList = result.items;
                for(let i = 0; i< resultList.length; i++){
                    let book = resultList[i].volumeInfo;
                    console.log(book)
                    booksView.append(
                        '<tr><th>No<th>Cover</th><th>Description</th>' +
                        '<tr><td>' + (i+1) + '</td><td><img src=' + 
                            book.imageLinks.smallThumbnail + '></td>' +
                            '<td id="data"><strong>Title: </strong><a href="' + book.previewLink + '">' + book.title + '</a><br>' +
                            '<strong>Category: </strong>' + book.categories + '</a><br>' +
                            '<strong>Author: </strong>' + book.authors + '</a><br>' +
                            '<strong>Published Date: </strong>' + book.publishedDate + '</a><br>' +
                            '<strong>Publisher: </strong>' + book.publisher + '</a><br></td><tr>'
                    );
                }
            }
        });
    });
    </script>
</body>
</html>
