* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fbf7f5;
    font-family: 'Poppins', sans-serif;
}
.title{
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: 	#fbf7f5;
    margin-left: 20px;
}
nav .navbar-item-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color:	#fbf7f5;
}