{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #675c52">
    <a class="navbar-brand" href="#">
        <div class ="title">
            keiko.
        </div>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'home:index' %}">
                    <div class ="navbar-item-text">
                        Home 
                    </div>
                    <span class="sr-only">
                        (current)
                    </span>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'accordion:accordion' %}">
                    <div class ="navbar-item-text">
                        Accordion
                    </div>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'ajax:halaman' %}">
                    <div class ="navbar-item-text">
                        Book
                    </div>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'cookie:logout' %}">
                    <div class ="navbar-item-text">
                        Logout
                    </div>
                </a>
            </li>
            {% else %}
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'cookie:login' %}">
                    <div class ="navbar-item-text">
                        Login
                    </div>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'cookie:signup' %}">
                    <div class ="navbar-item-text">
                        Sign Up
                    </div>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>